<!DOCTYPE html>
<html lang="en">

<head>

    {% load staticfiles %}

    <title>To-Do - Pimado</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

    <div class="to-do-container">

        <section class="header">

         <h1>To-Do</h1>

        </section>

        <section class="to-do-main">

            <form action="/addTodo/" method="post" class="input-form">{% csrf_token %}
                <input type="text" name="content" placeholder="What do you want to accomplish?" class="add-field"/>
                <input type="submit" value="Add" class="add-button"/>
            </form>

            <ul class="to-do-list">
                {% for todo_item in all_items %}
                <li class="to-do-item"> <span class="item-content"> {{ todo_item.content }} </span>
                    <form action="/deleteTodo/{{todo_item.id}}/"
                    style="display: inline;"
                    method="post">{% csrf_token %}
                        <input type="submit" value="X" class="delete-button"/>
                    </form>
                </li>
                {% endfor %}
            </ul>

        </section>

        <div class="back-navigation">
            <a href="/" class="button">Back</a>
        </div>

    </div>

</body>

</html>